# 1. to create a dataframe from a dictionary and display it

In [1]:
#SUMIT PANDIT
import pandas as pd
import numpy as np

details = {
    'Name' : ['Sumit', 'Dhruv', 'Daksh'],
    'Age' : [17, 18, 17],
    'Enrollment' : [216270307049, 216270307058, 216270307076]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']))

    Name  Age    Enrollment
0  Sumit   17  216270307049
1  Dhruv   18  216270307058
2  Daksh   17  216270307076

# 2. to sort the DataFrame first by 'name' in ascending order

In [2]:
import numpy as np
import pandas as pd

details = {
    'Name' : ['Sumit', 'Dhruv', 'Daksh'],
    'Age' : [17, 18, 17],
    'Enrollment' : [216270307049, 216270307058, 216270307076]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).sort_values(by = ['Name']))

    Name  Age    Enrollment
2  Daksh   17  216270307076
1  Dhruv   18  216270307058
0  Sumit   17  216270307049

# 3. to delete the one specific column from the DataFrame

In [3]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Sumit', 'Dhruv', 'Daksh'],
    'Age' : [17, 18, 17],
    'Enrollment' : [216270307049, 216270307058, 216270307076]
}

print(pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment']).drop(['Age'], axis = 1))

    Name    Enrollment
0  Sumit  216270307049
1  Dhruv  216270307058
2  Daksh  216270307076

# 4. to write a DataFrame to CSV file using tab separator

In [4]:
import pandas as pd
import numpy as np

details = {
    'Name' : ['Sumit', 'Dhruv', 'Daksh'],
    'Age' : [17, 18, 17],
    'Enrollment' : [216270307049, 216270307058, 216270307076]
}

data_frame = pd.DataFrame(details, columns = ['Name', 'Age', 'Enrollment'])

data_frame.to_csv('Details.csv', sep = '\t') # Saving as a CSV file
 
new_data_frame = pd.read_csv('Details.csv') # loading the CSV file
 
print('\nData from Students.csv : \n', new_data_frame)

Data from Students.csv :
       \tName\tAge\tEnrollment
0  0\tSumit\t17\t216270307049
1  1\tDhruv\t18\t216270307058
2  2\tDaksh\t17\t216270307076